In [ ]:
#Title DataScienceEcosystem

# Title DataScienceEcosystem

This notebook is about Data Science Tools and Ecosystem Summary

# Some of the data science language are :
1. R
1. Python
1. SQL
1. Julia

# Some of libraries used by data scientist are:
1. TensorFlow
1. NumPy
1. SciPy
1. Matplotlib 
1. Pandas

|Data Science Tools|
--------------------
|MATLAB|
|ggplot|
|Tableau|

Below is some examples of arithmetic expressions in Python

In [ ]:
(2*4)+9

17

Below is to convert minutes to hour

In [ ]:
360/60

6.0

## This section to list the objectives
**Objective**
1. List of popular language use in data science.
- R
- Python
- Julia

2. List of popular libraries
- Matplotlib
- SciPy
- Numpy

## Author Hani Zainol